textarea { resize: none; }

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

h2 {
  font-family: "Macondo", sans-serif;
  font-size: 48px;
  text-shadow: 6px 6px 6px #aaa;
}

h4 {
  font-family: "Macondo", sans-serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
}

body {
  font-family: "Ariel", sans-serif;
  font-size: 12px;
}

canvas {
  border: 1px solid black;
}

/* Classes ============================================ */

.divInput {
  border: 5px outset red;
  background-color: lightblue;
  text-align: left;
  position: absolute;
  top: 70px;
  left: 50px;
  width: 400px;
  height: 520px;
  padding: 10px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  height: 25px;
}

.button_google_sign {
  border-radius: 12px;
  color: white;
  background-color: rgb(31, 111, 231);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 0px;
  position: absolute;
  top: 0px;
  left: 405px;
  width: 170px;
  height: 48px;
  padding: 0px;
}


/* id's ================================================ */

